@mixin general-footer-header {
  &__inner {
    display: flex;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__catalog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 19px 80px;

    &--spec {
      grid-gap: 19px 55px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
  }

  &__text-icon-box {
    position: relative;
  }

  &__text {
    line-height: 24px;
  }

  &__icon {
    &::before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 8px;
      background-size: 15px 15px;
      content: '';
    }

    &--time::before {
      background-image: url('../images/svg/time.svg');
    }

    &--location::before {
      background-image: url('../images/svg/location.svg');
    }
  }
}

@mixin modal {
  position: fixed;
  top: 128px;
  left: 0;
  z-index: 20;
  display: none;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 128px);
  margin: 0;
  background-color: $white;

  > * {
    position: relative;
    transition: left 0.4s ease-out;
    left: -110%;
  }

  &.visible > * {
    left: 0;
  }

  @include tablet1248 {
    top: 112px;
    height: calc(100vh - 112px - 69px);
    box-shadow: none;
  }

  @include mobile767 {
    top: 80px;
    height: calc(100vh - 80px - 69px);
  }
}

@mixin arrow {
  width: 12px;
  height: 12px;
  mask-image: url('../images/svg/select-arrow.svg');
  mask-size: cover;
  border: none;
}
