/*BASE COLORS*/
$background-color: #E5E5E5;
$font-color: #C4C4C4;
$black-base: #000000;
$dark-green: #215359;
$light-green: #4C858B;
$orange: #EA6628;
$red: #AE2236;
$coral: #E33E54;
$white: #FFFFFF;
$gray: #B1B1B1;

$header-height: 97px;

/*FONTS*/
%small-text {
  font-size: 14px;
}

%text {
  font-size: 16px;
}
