/* BASE COLORS */
$font-color: #c4c4c4;
$black-base: #000;
$dark-green: #215359;
$light-green: #4c858b;
$orange: #ea6628;
$red: #ae2236;
$coral: #e33e54;
$white: #fff;
$light-gray: #e5e5e5;
$gray: #b1b1b1;
$middle-gray: #8c8c8c;
$dark-gray: #303030;

/* FONTS */
%small-text {
  font-size: 14px;
}

%text {
  font-size: 16px;
}
