section.start
  .container-fluid.start--container-fluid
    .start__inner
      .start__content
        .start__discount
          p.start__discount-title Скидка
            span.start__discount-title.start__discount-title--highlight  3%
          p.start__discount-sub-title на дымоход
          p.start__discount-note.start__discount-note-sign
            span.start__discount-note.start__discount-note--black-highlight *
            |  при покупке комплекта от
            span.start__discount-note.start__discount-note--highlight  10 000
        .price-container.start__content-price
          p.price-container__price-new.start__price-new 16 490
          p.price-container__price-old.start__price-old 16 490
        .start__content-buttons
          button.button.button--main-color(type="button") В каталог
          button.button.button--secondary-color(type="button") Монтаж
      .start__img.img.img__blob1.start__img-blob-1
        .img-absolute.img.img__dots.start__img-dots.start__img-dots--one
        .img-absolute.img.img__dots.start__img-dots.start__img-dots--two
        .img-absolute.img.img__triangle.start__img-triangle.start__img-triangle--one
        .img-absolute.img.img__triangle.start__img-triangle.start__img-triangle--two
        .img-absolute.start__img-pipes-1
        .img-absolute.start__img-pipes-2
    .start__content-buttons.start__content-buttons--tablet
      button.button.button--main-color(type="button") В каталог
      button.button.button--secondary-color(type="button") Монтаж
