mixin left-menu(menuContent)
  menu.left-menu.js__left-menu.js__modal.js__modal--adaptive
    .left-menu__header
      h2.left-menu__header-title= menuContent.name
      .back.js__menu-back
        p.back__link Назад
        .back__arrow

    +left-menu-tree(menuContent, true, menuContent.location)

mixin left-menu-tree(content, root, location)
  if (content.items && content.items.length > 0)
    ul.left-menu__tree(class= "left-menu__tree--" + content.level + (root ? " open" : " js__tree"))
      each item in content.items
        li.left-menu__tree-item.js__item(class= "left-menu__tree-item--" + content.level)
          .left-menu__tree-link-box(class= "left-menu__tree-link-box--" + content.level)
            a.left-menu__tree-link.js__left-menu-link(id= item.id class= "left-menu__tree-link--" + content.level href=location + "?active=" + item.id)= item.name
            if (item.items && item.items.length > 0)
              .left-menu__arrow.js__left-menu-arrow(class= "left-menu__arrow--" + content.level)
          +left-menu-tree(item, false, location)
