.product {
  display: flex;
  padding: 47px 0;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    row-gap: 62px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    mask-size: cover;

    &--favorites {
      height: 22px;
      mask-image: url(/assets/images/svg/favorites.svg);
      background-color: $coral;
    }

    &--comparison {
      mask-image: url(/assets/images/svg/balance.svg);
      background-color: $light-green;
    }
  }

  &__icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--zoom {
      position: absolute;
      bottom: 17px;
      right: 17px;
      z-index: 10;
    }
  }

  &__button {
    &--number {
      margin: 0 15px 0 13px;
    }

    &--favorites {
      &:hover,
      &.active {
        background: #ae2236;
      }
    }

    &--comparison {
      position: relative;
      margin-left: 11px;

      &:hover,
      &.active {
        background: #215359;
      }

      &.active:hover .product__tooltip {
        display: block;
      }
    }

    &--count {
      display: none;
    }

    &:hover .product__icon,
    &.active .product__icon {
      background-color: $white;
    }

    &.active &--count {
      display: flex;
    }

    &--main {
      max-width: 140px;
      width: 100%;
    }

    &--second {
      max-width: 200px;
      width: 100%;
    }
  }

  &__tooltip {
    position: absolute;
    top: -60px;
    left: -53px;
    z-index: 10;
    display: none;
    width: max-content;
    padding: 11px 15px 18px;
    background: $white;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);

    &::after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 6px;
      border-style: solid;
      border-color: $white transparent transparent transparent;
    }

    &-link {
      padding-bottom: 3px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $orange;
      border-bottom: 1px dashed $orange;
    }
  }

  &__text {
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--vendor-code,
    &--highlight {
      font-size: 14px;
      line-height: 17px;
    }

    &--weak,
    &--bold {
      font-size: 16px;
      line-height: 20px;
    }

    &--vendor-code,
    &--weak {
      color: #b1b1b1;
    }

    &--price-highlight,
    &--icon {
      font-size: 40px;
      line-height: 49px;
    }

    &--highlight {
      font-weight: 600;
      color: #4c858b;
    }

    &--bold,
    &--icon,
    &--number {
      color: $black-base;
    }

    &--vendor-code {
      margin-bottom: 7px;
    }

    &--price {
      &::after {
        content: '\20BD';
      }

      &-highlight {
        margin-top: 11px;
        text-align: end;
        font-weight: bold;
        color: #e33e54;

        &::after {
          margin-left: 8px;
          color: $black-base;
        }
      }
    }

    &--weak {
      text-decoration-line: line-through;

      &::after {
        margin-left: 9px;
      }
    }

    &--bold {
      margin: 16px 0;
      font-weight: 600;
    }

    &--icon {
      padding: 0;
    }

    &--number {
      width: 85%;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      border: none;
    }

    &--number::-webkit-outer-spin-button,
    &--number::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &--number {
      appearance: textfield;
    }
  }

  &__info {
    display: flex;

    &-slider {
      max-height: 530px;
      height: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      &--main {
        max-width: 416px;
        flex-shrink: 0;
        margin-right: 8px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
      }

      &--thumb {
        max-width: 100px;
        box-sizing: border-box;
        margin-right: 26px;
      }
    }

    &-slide {
      &--thumb {
        cursor: pointer;
      }

      &.swiper-slide-thumb-active &-wrapper--thumb {
        border: 1px solid $coral;
      }

      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;

        &--main {
          padding: 87px 37px 98px 36px;
        }

        &--thumb {
          padding: 12px 13px;
          border: 1px solid #e5e5e5;
        }
      }

      &-img {
        display: block;
        object-fit: cover;
        background-size: cover;
        background-position: center;

        &--main {
          width: 343px;
          height: 343px;
        }

        &--thumb {
          width: 74px;
          height: 74px;
        }
      }
    }

    &-form {
      width: 100%;
    }
  }

  &__detail {
    padding: 16px 0 17px;
    border-bottom: 1px dashed #e5e5e5;

    &-header {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $black-base;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px;
    }

    &-label {
      position: relative;
      display: flex;
      align-items: center;
      height: 19px;
      cursor: pointer;
      user-select: none;

      & .product__detail-radio:checked ~ .product__detail-checkmark::after {
        display: block;
      }

      & .product__detail-radio:checked ~ .product__detail-text {
        color: $black-base;
      }
    }

    &-radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 19px;
      width: 19px;
      border: 1px solid #d5d5d5;
      border-radius: 50%;

      &::after {
        content: '';
        position: absolute;
        display: none;
        top: 4.5px;
        left: 4px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: $orange;
      }
    }

    &-text {
      padding-left: 30px;
      font-size: 14px;
      color: #7e7e7e;
    }
  }

  &__buttons-box {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
  }

  &__tabs {
    &-list {
      display: flex;
      border-bottom: 4px solid #edf3f3;
    }

    &-item {
      &:not(:last-of-type) {
        margin-right: 68px;
      }
    }

    &-btn {
      cursor: pointer;
      position: relative;
      padding: 0 0 29px;
      border: none;
      background-color: $white;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $gray;

      &.active {
        color: $black-base;

        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          width: 100%;
          height: 4px;
          background-color: $light-green;
        }
      }
    }

    &-content {
      display: none;
      flex-direction: column;
      padding-top: 26px;

      &.active {
        display: flex;
      }
    }

    &-text {
      color: $black-base;
      white-space: pre-line;

      &::first-line {
        line-height: 0;
      }

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &--highlight {
        font-weight: 700;
        color: $orange;
      }

      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }

  &__char {
    &-box {
      display: flex;
      align-items: center;
    }

    &-text {
      position: relative;
      line-height: 50px;
      color: $black-base;
      white-space: nowrap;
    }

    &-dots {
      width: 100%;
      height: 15px;
      border-bottom: 1px dashed #d5d5d5;
    }
  }

  &__reviews {
    margin: -3px 0 18px;

    &-form,
    &-form-box,
    &-box {
      display: flex;
    }

    &-form,
    &-form-box--inputs,
    &-box {
      flex-direction: column;
    }

    &-form-box {
      gap: 8px;
    }

    &-form-box--inputs .input {
      width: 240px;
    }

    &-submit {
      margin-top: 32px;
      align-self: center;
    }

    &-box:not(&-box--line) {
      margin-top: 24px;
      border-bottom: 1px solid #e0e0e0;
    }

    &-box--line {
      flex-direction: row;
      justify-content: space-between;
    }

    &-text {
      font-size: 14px;
      line-height: 24px;
      color: $black-base;

      &--header,
      &--date {
        margin-top: 25px;
      }

      &--header {
        margin-left: 17px;
        font-weight: 600;
        font-size: 18px;
      }

      &--date {
        font-weight: 500;
        color: $gray;
      }

      &--content {
        margin: 16px 0 21px;
      }
    }
  }

  .bestsellers,
  .bestsellers .container {
    max-width: 906px;
    padding: 0;
  }
}
