mixin form_order(text, classParent)
  .form-order(class=classParent + "__form-order")
    p.form-order__title Для
      span.form-order__title.form-order__title--highlight  заказа
      |  замера заполните форму!
    p.text.form-order__text= text
    form.form-order__form(data-validate)
      .input-box
        input.input(type="text" name="name" required placeholder="Ваше имя")
        p.invalid-text Введите корректное имя
      .input-box
        input.input(type="tel" name="tel" required placeholder="Ваш телефон")
        p.invalid-text Введите корректный номер
      button.button.button--main-color(type="submit") оставить заявку
