.form-order {
  position: relative;
  max-width: 866px;
  width: 100%;
  padding: 57px 54px 60px 60px;
  align-self: center;
  background-color: $white;
  box-shadow: 0 4px 50px rgb(0 0 0 / 15%);

  &__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $black-base;

    &--highlight {
      color: $orange;
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 22px;
    color: $black-base;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  @include tablet1248 {
    padding: 50px;

    &__title,
    &__text {
      text-align: center;
    }

    &__form {
      flex-direction: column;
      align-items: center;
    }
  }

  @include mobile767 {
    padding: 0;
    box-shadow: none;

    &__title,
    &__text {
      margin-bottom: 21px;
    }

    &__title {
      font-size: 18px;
      line-height: 26px;
    }

    &__text {
      font-size: 14px;
      line-height: 25px;
    }
  }
}
