.social-media-menu{
  margin-left: 60px;

  &__list{
    display:flex;
  }
  &__item:nth-child(1){
    margin-right:12px;

  }
  &__item:nth-child(2){
    margin-right:16px;

  }
  &__item:nth-child(3){
     margin-right:18px;
  }
  &__link{
    display: flex;
  }
  &__img{
    height: 16px;
    width: 15px;
    &----head-foot-style{
      fill: $light-green;
    }
  }
  &__img--vk{
    width: 20px;
  }
  &__img--telegram{
    width: 19px;
  }
}
