.measurement {
  position: relative;
  padding: 50px 0;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__part-container {
    width: 565px;
    margin-left: 60px;
  }

  &__title-box {
    margin: 100px 0 27px 0;
  }

  &__text {
    &--highlight {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }

    &--highlight-color {
      color: $light-green;
    }
  }

  &__text--first {
    margin-bottom: 34px;
  }

  &__text + &__text {
    margin-bottom: 67px;
  }

  &__img {
    position: relative;
    height: inherit;
    flex-grow: 1;

    &-blob-4 {
      right: 0;
      top: 15%;
      width: 766px;
      height: 540px;
    }

    &-dots {
      width: 10%;
      height: 30%;
      top: 15%;
      left: 20%;
    }

    &-triangle {
      &--one {
        right: 0;
        top: 25%;
      }

      &--two {
        bottom: 20%;
        left: -35%;
      }
    }

    &-man {
      right: 0;
      width: 433px;
      height: 476px;
      background: url(/assets/images/content/man.png) center / contain no-repeat;
    }
  }

  @include _desktop1630 {
    &__img {
      &-blob-4 {
        width: 650px;
      }

      &-triangle--two{
        left: -15%;
      }
    }
  }

  @include _tablet1248 {
    padding: 36px 0;

    &__content {
      flex-direction: column-reverse;
    }

    &__part-container {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }

    &__title-box {
      margin: 0 0 21px 0;
    }

    &__text + &__text {
      margin-bottom: 48px;
    }

    &__img {
      height: 476px;

      &-blob-4, &-man {
        width: 100%;
      }

      &-triangle--one, &-triangle--two {
        display: none;
      }
    }
  }

  @include _mobile767 {
    padding: 13px 0;

    &__text {
      font-size: 14px;
      margin-bottom: 21px;

      &--highlight {
        font-size: 20px;
      }

      &--highlight-first{
        display: block;
      }
    }

    &__text + &__text {
      margin-bottom: 24px;
    }

    &__img {
      display: none;
    }
  }
}
