.measurement {
  position: relative;
  margin-bottom: 123px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__part-container {
    width: 565px;
    margin-left: 60px;
  }

  &__title-box {
    margin: 100px 0 27px 0;
  }

  &__text {
    &--highlight {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }

    &--highlight-color {
      color: $light-green;
    }
  }

  &__text--first {
    margin-bottom: 34px;
  }

  &__text + &__text {
    margin-bottom: 67px;
  }

  &__img {
    position: relative;
    height: inherit;
    flex-grow: 1;

    &-blob-4 {
      right: 0;
      top: 80px;
      width: 766px;
      height: 540px;
    }

    &-dots {
      top: 70px;
      left: 120px;
    }

    &-triangle {
      &--one {
        right: 0;
        top: 130px;
      }

      &--two {
        bottom: 100px;
        left: -210px;
      }
    }

    &-man {
      right: 0;
      width: 433px;
      height: 476px;
      background: url(/assets/images/content/man.png) center / contain no-repeat;
    }
  }
}
