.measurement {
  position: relative;
  padding: 39px 0;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__part-container {
    width: 565px;
    margin: 100px 0 65px 50px;
  }

  &__title:last-of-type {
    margin-bottom: 27px;
  }

  &__text {
    &--highlight {
      margin-left: 8px;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
    }

    &--highlight-color {
      color: $light-green;
    }

    &:first-of-type {
      margin-bottom: 34px;
    }
  }

  &__img {
    position: relative;
    height: inherit;
    flex-grow: 1;

    &-blob-4 {
      right: 0;
      top: 15%;
      width: 766px;
      height: 540px;
    }

    &-dots {
      width: 10%;
      height: 32%;
      top: 17%;
      left: 18%;
    }

    &-triangle {
      width: 13%;

      &--one {
        right: 0;
        top: 27%;
      }

      &--two {
        bottom: 20%;
        left: -34%;
      }
    }

    &-man {
      right: 2%;
      width: 433px;
      height: 476px;
      background: url(/assets/images/content/man.png) center / contain no-repeat;
    }

    &-arrow {
      width: 143px;
      height: 125px;
      bottom: 23%;
      right: 4%;
    }
  }

  &__form-order {
    left: -82px;
  }

  @include _desktop1630 {
    &__img {
      &-blob-4 {
        width: 650px;
      }

      &-triangle--two {
        left: -15%;
      }
    }
  }

  @include _tablet1248 {
    padding: 39px 0;

    &__content {
      flex-direction: column-reverse;
    }

    &__part-container {
      width: 100%;
      margin: 0 0 48px;
      text-align: center;
    }

    &__title {
      line-height: 50px;

      &:last-of-type {
        margin-bottom: 21px;
      }
    }

    &__text + &__text {
      text-align: left;
    }

    &__img {
      height: 476px;

      &-blob-4,
      &-man {
        width: 100%;
      }

      &-triangle--one,
      &-triangle--two,
      &-arrow {
        display: none;
      }
    }

    &__form-order {
      top: -11px;
      left: 0;
    }
  }

  @include _mobile767 {
    padding: 13px 0;

    &__title {
      font-size: 18px;
      line-height: 26px;

      &:last-of-type {
        font-size: 24px;
        margin-bottom: 14px;
      }
    }

    &__text {
      font-size: 14px;
      margin-bottom: 0;

      &--highlight {
        font-size: 20px;
      }

      &--highlight-first {
        display: block;
      }

      &:first-of-type {
        line-height: 31px;
        margin-bottom: 18px;
      }
    }

    &__text + &__text {
      text-align: center;
    }

    &__part-container {
      margin-bottom: 35px;
    }

    &__img {
      display: none;
    }
  }
}
