.request {
  padding: 122px 0 60px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title,
  &__small-title {
    line-height: 40px;
    text-align: center;
    color: $black-base;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
  }

  &__small-title {
    font-size: 22px;
    font-weight: 300;
  }

  &__socials-item:not(:last-of-type) {
    margin-right: 36px;
  }

  &__social-img {
    background-color: $orange;
    width: 22px;
    height: 22px;
  }

  &__line {
    max-width: 594px;
    width: 100%;
    height: 1px;
    margin: 35px 0 31px;
    background: #e5e5e5;
  }

  &__questions {
    display: flex;
    justify-content: space-between;
    max-width: 866px;
    width: 100%;
    margin-bottom: 36px;

    &-item {
      list-style-type: disc;
      list-style-position: inside;
      font-size: 27px;
      color: $coral;
    }

    &-text {
      margin-left: -0.6em;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px;
      color: $black-base;
    }
  }

  @include _tablet1248 {
    padding: 26px 0;

    &__title {
      font-size: 40px;
      line-height: 30px;
    }

    &__small-title {
      font-size: 16px;
      line-height: 30px;
    }

    &__header {
      margin-bottom: 27px;
    }

    &__line {
      margin: 33px 0 26px;
    }

    &__questions {
      margin-bottom: 32px;

      &-item {
        font-size: 20px;
      }

      &-text {
        margin-left: -1em;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }

  @include _mobile767 {
    &__title {
      margin-bottom: 0;
      font-size: 22px;
    }

    &__small-title {
      font-size: 14px;
      line-height: 27px;
    }

    &__header {
      margin-bottom: 22px;
    }

    &__line {
      margin: 25px 0 18px;
    }

    &__questions {
      flex-direction: column;
      margin-bottom: 22px;

      &-text {
        margin-left: -6px;
      }
    }
  }
}
