.page {
  padding: 52px 0 90px;

  &__title {
    margin-bottom: 41px;
  }

  @include _tablet1248 {
    padding: 56px 0 7px;

    &__title {
      margin-bottom: 30px;
    }
  }

  @include _mobile767 {
    padding: 41px 0 32px;

    &__title {
      margin-bottom: 15px;
    }
  }
}
