.page{
  padding: 52px 0 28px 0;

  &__title {
    margin-bottom: 41px;
  }

  @include _tablet1248 {
    padding: 56px 0 7px 0;

    &__title {
      margin-bottom: 30px;
    }
  }

  @include _mobile767 {
    padding: 41px 0 32px 0;

    &__title {
      margin-bottom: 15px;
    }
  }

}
