extends ../default
include ../../helpers/mixins
include ../../../components/independent/breadcrumbs/breadcrumbs

block variables
  include ../../variables/variables
  include ../../variables/breadcrumbs

block content
  .page
    .container
      h1.title-big.page__title.js__title #{title ? title : 'Заголовок страницы'}
      +breadcrumbs(breadcrumbs)
      block pageContent
