extends ../layouts/page/page
include ../../components/independent/catalog-item/catalog-item

block append variables
  - var headerTitle = activeCatalog;
  - var title = 'Каталог товаров'
  - var breadcrumbs = breadcrumbsCategory_Catalog

block pageContent
  include ../../components/sections/catalog/catalog
