extends ../layouts/page/page
include ../helpers/mixins
include ../../components/independent/breadcrumbs/breadcrumbs
include ../../components/independent/catalog-item/catalog-item

block variables
  include ../variables/variables
  include ../variables/breadcrumbs
  - var headerTitle = activeCatalog;
  - var title = 'Каталог товаров'
  - var breadcrumbs = breadcrumbsCategory_Catalog

block pageContent
  include ../../components/sections/catalog/catalog
