extends ../layouts/page/page
include ../helpers/mixins
include ../../components/sections/category/category
include ../../components/independent/breadcrumbs/breadcrumbs
include ../../components/independent/product-slider/product-slider
include ../../components/independent/left-menu/left-menu

block variables
  include ../variables/variables
  include ../variables/breadcrumbs
  include ../variables/left-menu

  - var headerTitle = activeCatalog;
  - var title = 'Камины'
  - var breadcrumbs = breadcrumbsCategory_Fireplaces

block pageContent
  +category(leftMenu_Fireplaces)
