extends ../layouts/default
include ../helpers/mixins
include ../../components/independent/arrows/arrows
include ../../components/independent/product-slider/product-slider
include ../../components/independent/form-order/form-order

block variables
  include ../variables/variables
  - var title = 'Дымоход'

block content
  include ../../components/sections/start/start
  include ../../components/sections/bestsellers/bestsellers
  include ../../components/sections/projects/projects
  include ../../components/sections/cost-calculation/cost-calculation
  include ../../components/sections/benefits/benefits
  include ../../components/sections/measurement/measurement
  include ../../components/sections/installation/installation
  include ../../components/sections/about/about
  include ../../components/sections/request/request
  include ../../components/sections/video/video
  include ../../components/sections/causes/causes
  include ../../components/sections/without-money/without-money
  include ../../components/sections/reviews/reviews







