extends ../layouts/page/page
include ../../components/independent/left-menu/left-menu
include ../../components/independent/arrows/arrows
include ../../components/independent/product-slider/product-slider
include ../../components/sections/bestsellers/bestsellers

block append variables
  include ../../views/variables/left-menu
  - var headerTitle = activeCatalog;
  - var title = 'Каминная топка Kratki'
  - var breadcrumbs = breadcrumbsCategory_Fireplaces

block pageContent
  include ../../components/sections/product/product
