mixin arrows(arrowStyle)
  .arrows-container(class=arrowStyle+"__arrows-container")
    button.arrows-container__arrow(type="button" class= arrowStyle+"__arrow-left swiper-button-prev")
      +svg("arrows-container__arrow-img arrows-container__arrow-img--left", "assets/images/sprite.svg#arrow")
    button.arrows-container__arrow(type="button" class= arrowStyle+"__arrow-right swiper-button-next")
      +svg("arrows-container__arrow-img arrows-container__arrow-img--right", "assets/images/sprite.svg#arrow")
