/* СТРЕЛКИ ДЛЯ СЛАЙДЕРОВ */
.arrows-container {
  display: flex;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease-out;

    &-img {
      width: 12px;
      height: 20px;
      mask-image: url('../images/svg/arrow.svg');
      background-color: $light-gray;

      &--left {
        transform: rotate(180deg);
      }
    }

    &.swiper-button-disabled {
      cursor: not-allowed;
    }

    &:first-of-type {
      margin-right: 8px;
    }

    &:hover:not(.swiper-button-disabled) {
      border-color: $dark-gray;
    }

    &:hover:not(.swiper-button-disabled) &-img {
      background-color: $dark-gray;
    }
  }

  @include mobile767 {
    &__arrow:first-of-type {
      margin-right: 30px;
    }
  }
}
