.catalog
  .container
    h1.title-big.catalog__title Каталог товаров
    +breadcrumbs(breadcrumbsCategory_Catalog)
    .catalog__container
      +catalog-item("img__blob9", "catalog-item__img-content--1", "Дымоходы", "#")
      +catalog-item("img__blob10", "catalog-item__img-content--2", "Отопительные печи", "#")
      +catalog-item("img__blob11", "catalog-item__img-content--3", "Печи для бани", "#")
      +catalog-item("img__blob9", "catalog-item__img-content--4", "Камины", "/fireplaces.html")
      +catalog-item("img__blob10", "catalog-item__img-content--5", "Котлы", "#")
      +catalog-item("img__blob11", "catalog-item__img-content--6", "Дымососы", "#")
      +catalog-item("img__blob9", "catalog-item__img-content--7", "Силикат кальция", "#")
