.catalog {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 42px 70px 0 0;
  }

  &__container > * {
    margin: 54px 0;
  }

  @include tablet1248 {
    &__container {
      margin: 32px 25px 0 0;
    }

    &__container > * {
      margin: 45px 0;
    }
  }

  @include mobile767 {
    &__container {
      justify-content: center;
      margin: 10px 35px 0 0;
    }

    &__container > * {
      margin: 14px 16px;
    }
  }
}
