-
  var breadcrumbHome = {
  href: routing.home,
  name: "Главная", };

-
  var breadcrumbCatalog = {
    href: routing.catalog,
    name: "Каталог", };

-
  var breadcrumbsCategory_Fireplaces = [
    breadcrumbHome,
    breadcrumbCatalog,
    {
      href: "#",
      name: "Камины",
    },
    {
      href: "#",
      name: "",
      customClass: "active"
    }
  ];

-
  var breadcrumbsCategory_Catalog = [
    breadcrumbHome,
    {
      href: routing.catalog,
      name: "Каталог",
      customClass: "active"
    },
  ]

-
  var breadcrumbsCategory_Product = [
    breadcrumbHome,
    breadcrumbCatalog,
    {
      href: routing.fireplaces,
      name: "Камины"
    },
    {
      href: "#",
      name: "",
      customClass: "active"
    }
  ];
