-
  var breadcrumbHome = {
  href: "/",
  name: "Главная", };

-
  var breadcrumbCatalog = {
    href: "/catalog.html",
    name: "Каталог", };

-
  var breadcrumbsCategory_Fireplaces = [
    breadcrumbHome,
    breadcrumbCatalog,
    {
      href: "#",
      name: "Камины",
      customClass: "js__open-catalog",
    },
    {
      href: "#",
      name: "",
      customClass: "active"
    }
  ];

-
  var breadcrumbsCategory_Catalog = [
    breadcrumbHome,
    {
      href: "/catalog.html",
      name: "Каталог",
      customClass: "active"
    },
  ]
