-
  var footer_part1 = [{
      src: "/",
      name: "Дымоходы",
    },
    {
      src: "/",
      name: "Дымососы",
    },
    {
      src: "/",
      name: "Печи для дома",
    },
    {
      src: "/",
      name: "Печи для бани",
    },
  ];

-
  var footer_part2 = [{
    src: "/",
    name: "Камины",
  },
    {
      src: "/",
      name: "Силикат кальция",
    },
    {
      src: "/",
      name: "Котлы",
    },
    {
      src: "/",
      name: "Ещё",
    },
  ];

-
  var footer_part3 = [{
    src: "/",
    name: "Каталог",
  },
    {
      src: "/",
      name: "Установка и монтаж",
    },
    {
      src: "/",
      name: "Отзывы",
    },
    {
      src: "/",
      name: "Ликвидация товара",
    },
  ];

-
  var footer_part4 = [{
    src: "/",
    name: "Полезное",
  },
    {
      src: "/",
      name: "Контакты",
    },
    {
      src: "/",
      name: "Оплата и доставка",
    },
  ];
