-
  var routing = {
    logo: '/',
    catalog: '/',
    delivery: '/',
    price: '/',
    contacts: '/',
  };

-
  var images = {
    logo: 'assets/images/logo.png',
    menuMin: 'assets/images/sprite.svg#menu',
    search: 'assets/images/sprite.svg#search',
    favorites: 'assets/images/sprite.svg#favorites',
    cart: 'assets/images/sprite.svg#shopping-cart',
    sign: 'assets/images/sprite.svg#sign',
    blob1: 'assets/images/sprite.svg#blob-1',
    dots: 'assets/images/sprite.svg#dots',
    triangle: 'assets/images/sprite.svg#triangle',
    arrow: 'assets/images/sprite.svg#arrow',
  };
