- var title = 'Дымоход'

-
  var socialList = [{
    href: "/",
    src: ""
  },
    {
      href: "/",
      src: ""
    },
    {
      href: "/",
      src: "White"
    },
    {
      href: "/",
      src: ""
    }
  ];

-
  var bestsellers_products = [{
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    }
  ];

-
  var projects_products = [{
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    }
  ];

-
  var reviews_list = [{
      src: "/",
      name: "Алёна Симонова",
      date: "20.11.2020",
      comments: "Отличная компания, быстро доставили мой заказ и были очень " +
              "внимательны к моим пожеланиям! Обязательно еще к вам обращусь, " +
              "первый заказ получился на отлично!"
    },
    {
      src: "/",
      name: "Антон Баранов",
      date: "20.11.2020",
      comments: "Много где были, выбирая камин своей мечты, но нигде к нам " +
              "не отнеслись с таким пониманием и душевным теплом, как здесь." +
              "Нам не пришлось самим ломать голову при выборе, взвешивать " +
              "все плюсы "
    },
    {
      src: "/",
      name: "Виктор Исаев",
      date: "20.11.2020",
      comments: "Отличный магазин! Нет проблем с доставкой. Цены на " +
              "среднем уровне. Огромный выбор каминов. Монтажом занимаются" +
              " профессионалы: делают быстро и наверняка. "
    },
    {
      src: "/",
      name: "Антон Баранов",
      date: "Алёна Симонова",
      comments: "Спасибо за установку дымохода и печи, сделали всё быстро " +
              "и качественно Спасибо за установку дымохода и печи, сделали " +
              "всё быстро и качественно Спасибо за установку дымохода и " +
              "печи, "
    },
  ];
