- var title = 'Дымоход'

-
  var socialList = [{
    href: "/",
    src: ""
  },
    {
      href: "/",
      src: ""
    },
    {
      href: "/",
      src: "White"
    },
    {
      href: "/",
      src: ""
    }
  ];

-
  var bestsellers_products = [{
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "/",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    }
  ];

-
  var projects_products = [{
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "/",
      name: "Печь «Бахта»",
      diameter: "115/250",
      steel: "304-0,8/430",
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    }
  ];
