-
  var leftMenu_Fireplaces = {
    menuName: "Каталог",
    items: [
      {
        levelOneName: "Каминные облицовки",
        levelOneId: "fireplaceCladding",
        levelOneItems: [
          {
            levelTwoName: "Встраиваемые камины",
            levelTwoId: "builtInFireplaces",
            levelTwoItems: []
          },
          {
            levelTwoName: "Двусторонний камин",
            levelTwoId: "doubleSidedFireplace",
            levelTwoItems: []
          },
          {
            levelTwoName: "Пристенно-угловые камины",
            levelTwoId: "wallCornerFireplaces",
            levelTwoItems: []
          },
          {
            levelTwoName: "Угловые отопительные камины",
            levelTwoId: "cornerHeatingFireplaces",
            levelTwoItems: [
              {
                levelThreeName: "Мини",
                levelThreeId: "miniFireplaces",
              },
              {
                levelThreeName: "Мраморные",
                levelThreeId: "marbleFireplaces",
              }
            ]
          },
          {
            levelTwoName: "Центральные камины",
            levelTwoId: "centralFireplaces",
            levelTwoItems: []
          },
          {
            levelTwoName: "Пристенные камины",
            levelTwoId: "wallMountedFireplaces",
            levelTwoItems: []
          },
        ]
      },

      {
        levelOneName: "Каминные топки",
        levelOneId: "wallMountedFireplaces",
        levelOneItems: []
      },

      {
        levelOneName: "Камины HI-TECH",
        levelOneId: "hiTechFireplaces",
        levelOneItems: []
      }
    ]
  };
