-
  var leftMenu_Fireplaces = {
    name: "Каталог",
    items: [
      {
        name: "Каминные облицовки",
        id: "fireplaceCladding",
        items: [
          {
            name: "Встраиваемые камины",
            id: "builtInFireplaces",
            items: []
          },
          {
            name: "Двусторонний камин",
            id: "doubleSidedFireplace",
            items: []
          },
          {
            name: "Пристенно-угловые камины",
            id: "wallCornerFireplaces",
            items: []
          },
          {
            name: "Угловые отопительные камины",
            id: "cornerHeatingFireplaces",
            items: [
              {
                name: "Мини",
                id: "miniFireplaces",
              },
              {
                name: "Мраморные",
                id: "marbleFireplaces",
              }
            ]
          },
          {
            name: "Центральные камины",
            id: "centralFireplaces",
            items: []
          },
          {
            name: "Пристенные камины",
            id: "wallMountedFireplaces",
            items: []
          },
        ]
      },

      {
        name: "Каминные топки",
        id: "wallMountedFireplaces",
        items: []
      },

      {
        name: "Камины HI-TECH",
        id: "hiTechFireplaces",
        items: []
      }
    ]
  };
