-
  var routing = {
    home: '/',
    catalog: '/catalog.html',
    delivery: '#',
    price: '#',
    contacts: '#',
  };

-
  var activeCatalog = {
    catalog: 'active',
  }

-
  var socialList = [{
    href: "#",
    name: "vk",
  },
    {
      href: "#",
      name: "telegram",
    },
    {
      href: "#",
      name: "instagram",
    },
    {
      href: "#",
      name: "whatsapp",
    }
  ];

-
  var bestsellers_products = [{
    src: "assets/images/slider-products/product-1.png",
    name: "Kratki",
    href: "/product.html?active=marbleFireplaces&redirect=true",
    description: "Каминная топка Kratki ZUZIA LPT",
    costNew: "16 490",
    costOld: "16 490"
  },
    {
      src: "assets/images/slider-products/product-1.png",
      href: "/product.html?active=marbleFireplaces&redirect=true",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "assets/images/slider-products/product-1.png",
      href: "/product.html?active=marbleFireplaces&redirect=true",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    },
    {
      src: "assets/images/slider-products/product-1.png",
      href: "/product.html?active=marbleFireplaces&redirect=true",
      name: "Kratki",
      description: "Каминная топка Kratki ZUZIA LPT",
      costNew: "16 490",
      costOld: "16 490"
    }
  ];

-
  var projects_products = [
    {
      src: "assets/images/slider-projects/bake-3.png",
      name: "Печь «Бахта»",
      characteristics: [{
        "key": "Диаметр",
        "value": "115/250"
      },
        {
          "key": "Сталь",
          "value": "304-0,8/430"
        }],
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "assets/images/slider-projects/bake-3.png",
      name: "Печь «Бахта»",
      characteristics: [{
        "key": "Диаметр",
        "value": "115/250"
      },
        {
          "key": "Сталь",
          "value": "304-0,8/430"
        }],
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "assets/images/slider-projects/bake-2.png",
      name: "Печь «Бахта»",
      characteristics: [{
        "key": "Диаметр",
        "value": "115/250"
      },
        {
          "key": "Сталь",
          "value": "304-0,8/430"
        }],
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    },
    {
      src: "assets/images/slider-projects/bake-1.png",
      name: "Печь «Бахта»",
      characteristics: [{
        "key": "Диаметр",
        "value": "115/250"
      },
        {
          "key": "Сталь",
          "value": "304-0,8/430"
        }],
      description: "Чугунная отопительно-варочная печь. " +
              "Дымоход собственного производства, вертикальный с " +
              "металлической походкой кровли, защита пола экран из " +
              "нержавейки с минеритом."
    }
  ];

-
  var reviews_list = [{
    src: "assets/images/slider-reviews/human-1.png",
    name: "Алёна Симонова",
    date: "20.11.2020",
    comments: "Отличная компания, быстро доставили мой заказ и были очень " +
            "внимательны к моим пожеланиям! Обязательно еще к вам обращусь, " +
            "первый заказ получился на отлично!"
  },
    {
      src: "assets/images/slider-reviews/human-2.png",
      name: "Антон Баранов",
      date: "20.11.2020",
      comments: "Много где были, выбирая камин своей мечты, но нигде к нам " +
              "не отнеслись с таким пониманием и душевным теплом, как здесь." +
              "Нам не пришлось самим ломать голову при выборе, взвешивать " +
              "все плюсы "
    },
    {
      src: "assets/images/slider-reviews/human-3.png",
      name: "Виктор Исаев",
      date: "20.11.2020",
      comments: "Отличный магазин! Нет проблем с доставкой. Цены на " +
              "среднем уровне. Огромный выбор каминов. Монтажом занимаются" +
              " профессионалы: делают быстро и наверняка. "
    },
    {
      src: "assets/images/slider-reviews/human-1.png",
      name: "Алёна Симонова",
      date: "20.11.2020",
      comments: "Спасибо за установку дымохода и печи, сделали всё быстро " +
              "и качественно Спасибо за установку дымохода и печи, сделали " +
              "всё быстро и качественно Спасибо за установку дымохода и " +
              "печи, "
    },
  ];
