section.bestsellers
  .container
    .bestsellers__header
      h1.title-overline Хиты продаж
      +arrows("bestsellers")

    .product-slider.swiper
      .swiper-wrapper
        each product in bestsellers_products
          +product_slider(product)
