/*РАЗДЕЛ - ХИТЫ ПРОДАЖ*/
.bestsellers {
  margin-bottom: 256px;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
  }

  @include _tablet1248 {
    margin-bottom: 117px;
  }
}
