/* РАЗДЕЛ - ХИТЫ ПРОДАЖ */
.bestsellers {
  padding: 169px 0;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
  }

  &__arrows-container-adaptive {
    display: none;
  }

  &_arrows {
    display: flex;
    justify-content: center;
  }

  @include _tablet1248 {
    padding: 81px 0 45px;

    &__header {
      margin-bottom: 40px;
    }
  }

  @include _mobile767 {
    padding: 56px 0 25px;

    &__header {
      margin-bottom: 21px;
    }

    &__arrows-container {
      display: none;

      &-adaptive {
        display: flex;
        width: 138px;
      }
    }
  }
}
