section.bestsellers
  .container
    .bestsellers__header
      h2.title-overline Хиты продаж
      +arrows("bestsellers")

    .bestsellers__slider.swiper
      .swiper-wrapper
        each product in bestsellers_products
          +product_slider(product)
