section.without-money
  .container
    .without-money__inner
      .without-money__content-container
        h2.title.without-money__title.without-money__title-box Купите любую продукцию
          .title.title--highlight.without-money__title без денег
        p.text.without-money__text Теперь возможна оплата в кредит или в рассрочку 0%.
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        input.button.button--main-color(value= "купить в кредит")
      .without-money__img
        .img-absolute.img.img__blob8.without-money__img-blob-8
        .without-money__discount 0%
        .img-absolute.img.img__dots.without-money__img-dots.without-money__img-dots--one
        .img-absolute.img.img__dots.without-money__img-dots.without-money__img-dots--two
        .img-absolute.img.img__triangle.without-money__img-triangle--one
        .img-absolute.img.img__triangle.without-money__img-triangle--two
        .img-absolute.without-money__img-fireplace
