.breadcrumbs {
  padding: 11px 0 16px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  &__link {
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    transition: color 0.3s ease-out;

    &.active,
    &:hover {
      color: $dark-green;
    }

    &.active {
      pointer-events: none;
    }
  }

  &__small-arrow {
    width: 7px;
    height: 7px;
    margin: 0 6px 0 4px;
  }

  @include mobile767 {
    padding: 8px 0 9px;
  }
}
