section.causes
  .container
    .causes__inner
      h2.title-overline.causes__title Причины приобрести нашу продукцию
      .causes__content-container
        ol.causes__items
          li.causes__items-li
            .text.causes__items-text Мы предоставляем полный комплекс услуг включающий консультацию и поддержку на всех этапах сотрудничества, от покупки до установки. Дальнейшую очистку дымоходов.
          li.causes__items-li
            .text.causes__items-text Точное выполнение договорённости, сроков, стоимости и качеству произведенного монтажа, наличие всех необходимых сертификатов и технических документов.
          li.causes__items-li
            .text.causes__items-text
              .text.causes__items-text Гарантия на выполненные работы:
              .text.causes__items-text #[strong 3 года] на гидроизоляцию кровельных элементов
              .text.causes__items-text #[strong 5 лет] на сквозную коррозию внутренней и наружной трубы
              .text.causes__items-text #[strong 10 лет] на крепёж, стыковку элементов и «вертикальность»
        .causes__img
