.causes {
  padding: 100px 0;

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 113px;
  }

  &__content-container {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-right: 34px;
    counter-reset: counter;
    list-style: none;

    &-element {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      counter-increment: counter;
    }

    &-element::before {
      min-width: 60px;
      margin-right: 40px;
      content: counter(counter);
      font-weight: bold;
      font-size: 100px;
      line-height: 122px;
      color: $coral;
      opacity: 0.2;
    }

    &-text {
      color: $black-base;
    }
  }

  &__img {
    background: url(/assets/images/content/causes.png);
    min-width: 550px;
    height: 403px;
  }

  @include _tablet1248 {
    padding: 40px 0;

    &__img {
      display: none;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__items {
      flex-direction: row;
      margin-right: 0;

      &-element {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      &-element:not(:last-of-type) {
        margin-right: 32px;
        margin-bottom: 0;
      }

      &-text {
        font-size: 14px;
      }
    }
  }

  @include _mobile767 {
    padding: 32px 0;

    &__title {
      margin-bottom: 24px;
    }

    &__items {
      flex-direction: column;

      &-element::before {
        align-self: center;
        font-size: 60px;
        line-height: 73px;
      }

      &-element:not(:last-of-type){
        margin-right: 0;
        margin-bottom: 17px;
      }

      &-element:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}
