section.video
  .container
    .video__inner
      h2.title-overline.video__title Видео
      p.text.video__text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna
        | aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        | ullamco laboris nisi ut aliquip ex ea commodo consequat.
        | Duis aute irure dolor in reprehenderit in voluptate velit
        | esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        | occaecat cupidatat non proident, sunt in culpa qui officia
        | deserunt mollit anim id est laborum.
      .video__container
        .img-absolute.img.img__blob6.video__img-blob-6
        .img-absolute.img.img__blob7.video__img-blob-7
        .img-absolute.img.img__dots.video__img-dots.video__img-dots--one
        .img-absolute.img.img__dots.video__img-dots.video__img-dots--two
        iframe.video__frame(src="https://www.youtube.com/embed/Nxg6UfofZX0")
