header.header

  .container-fluid
    .header__inner
      .logo
        a.logo__link(href= routing.home)
          img.logo__img(src= "assets/images/logo.png", alt="Logo")
      .header__wrapper
        .icon-line.icon-line--one.header__icon
          button.icon-line__button.icon-line__button--main.header__icon-line-button(type="button")
            +svg("icon icon-line__button-img header__img-icon", "assets/images/sprite.svg#menu")

        nav.menu
          ul.menu__list
            li.menu__list-item
              a.menu__link(href= routing.catalog) Каталог товаров
            li.menu__list-item
              a.menu__link(href= routing.delivery) доставка и оплата
            li.menu__list-item
              a.menu__link(href= routing.price) Цены
            li.menu__list-item
              a.menu__link(href= routing.contacts) Контакты
        a.header__phone-number(href="tel:+78125092198")
          | +7 (812)
          span.header__phone-number.header__phone-number--highlight  509 21 98
        a.header__phone-me-link(href= "#") перезвоните мне

        +socials(socialList, "header")

        .icon-line.header__icon-line
          .icon-line__button.icon-line__button--light.header__icon-line-button
            a.icon-line__button-link(href= routing.search)
              +svg("icon icon-line__button-img header__img-icon", "assets/images/sprite.svg#search")
          .icon-line__button.icon-line__button--light.header__icon-line-button
            a.icon-line__button-link(href= routing.favorites)
              +svg("icon icon-line__button-img header__img-icon", "assets/images/sprite.svg#favorites")
          .icon-line__button.icon-line__button--light.header__icon-line-button
            a.icon-line__button-link(href= routing.cart)
              .icon.icon-line__button-img.header__img-icon.icon-line__button-img--shopping
            .icon-line__button-circle-count
              p.icon-line__button-count-text 10
