.header {
  &__inner, &__wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__inner {
    margin-top: 26px;
  }

  &__phone-number {
    @extend %text;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: $light-green;

    &--highlight {
      color: $black-base;
      font-weight: bold;
    }
  }

  &__phone-me-link {
    padding-bottom: 5px;
    margin: 5px 60px 0 70px;
    @extend %small-text;
    color: $red;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dashed $red;
  }

  @media (max-width: 1814px) {
    &__socials {
      display: none;
    }

    &__icon-line {
      margin-left: 0;
      flex-grow: 1;
      justify-content: flex-end;
      padding-right: 8px;
    }

    &__phone-me-link {
      margin-right: 7px;
    }
  }

  @include _desktop1630 {
    &__phone-me-link, &__phone-number {
      display: none;
    }
  }

  @include _tablet1248 {
    &__inner, &__wrapper {
      align-items: flex-start;
    }

    &__inner {
      height: 80px;
      border-bottom: 1px solid #E5E5E5;
      margin-top: 32px;
    }

    &__wrapper {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    &__icon {
      margin-left: 7px;
      flex-grow: 0;
    }

    &__icon-line {
      padding-right: 0;
    }

    &__icon-line .icon-line__button {
      margin-left: 24px;
    }
  }

  @include _mobile767 {
    &__inner {
      height: 63px;
      margin-top: 16px;
    }

    .icon-line__button:not(:last-of-type) {
      display: none;
    }

    &__icon-line .icon-line__button-img--shopping {
      width: 18px;
    }

    &__icon-line .icon-line__button-circle-count {
      right: -8px;
    }

    &__icon-line-button {
      width: 44px;
      height: 44px;
    }

    &__img-icon {
      width: 18px;
      height: 18px;
    }
  }
}

/*МЕНЮ В HEADER*/
.menu {
  margin: 0 62px 0 31px;

  &__list {
    display: flex;
  }

  &__link {
    @extend %text;
    text-transform: uppercase;
    color: $light-green;
    line-height: 23px;
    font-weight: bold;
    margin-right: 36px;

    &:hover, &--active {
      color: $black-base;
    }
  }

  @include _tablet1248 {
    display: none;
  }
}

/*HEADER ВСПЛЫВАЮЩЕЕ*/
.header-big {
  @include general-footer-header;
  position: relative;
  top: 0;
  z-index: 100;
  overflow-y: auto;
  display: none;
  width: 100%;
  height: calc(100vh - 128px);
  padding: 49px 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-color: $white;

  &.open, &__box-lists, &__box-support, &__box-support-inner,
  &__phone-me-link, &__phone-number {
    display: flex;
  }

  &.visible {
    opacity: 1;
  }

  &__inner {
    flex-direction: column;
  }

  &__box-lists {
    padding-bottom: 34px;
    border-bottom: 1px solid #E5E5E5;
  }

  &__box-support {
    padding-top: 34px;
    justify-content: space-between;
  }

  &__container:not(:last-of-type) {
    margin-right: 51px;
  }

  &__title, &__link, &__text {
    color: $dark-green;
  }

  &__catalog-items {
    grid-gap: 18px 80px;

    &--spec {
      grid-gap: 18px 55px;
    }
  }

  &__text-icon-box {
    margin-bottom: 13px;
  }

  &__text {
    font-size: 16px;
    color: $black-base;

    &--highlight {
      color: $dark-green;
    }
  }

  &__phone-me-link {
    align-self: flex-start;
    margin: 19px 0 0;
  }

  @include _tablet1248 {
    height: calc(100vh - 112px);

    &__box-lists {
      padding-bottom: 30px;
      border-bottom-style: dashed;
    }

    &__box-support {
      padding-top: 36px;
    }
  }

  @include _mobile767 {
    height: calc(100vh - 80px);
    padding-top: 42px;

    &__box-lists, &__box-support {
      flex-direction: column;
    }

    &__container:not(:last-of-type) {
      margin: 0 0 30px;
    }

    &__box-lists {
      border: none;
      padding-bottom: 18px;
    }

    &__box-support {
      padding-top: 18px;
    }

    &__inner{
      align-self: center;
    }

    &__phone-me-link {
      margin-bottom: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
