section.about
  .container
    .about__inner
        h1.title-overline.about__title О компании в цифрах
        .about__content-container
          .about__content
            .about__content-item
              p.about__content-title 11
              p.text.about__content-text Магазинов продают нашу продукцию
            .about__content-item
              p.about__content-title 1886
              p.text.about__content-text Выполненных объектов
            .about__content-item
              p.about__content-title 18
              p.text.about__content-text Лет опыта работы на рынке с гарантией качества
            .about__content-item
              p.about__content-title 90%
              p.text.about__content-text рекомендуют и обращаются к нам повторно
          .about__img-container
            .img-absolute.img.img__blob5.about__img-blob-5
            .img-absolute.img.img__dots.about__img-dots.about__img-dots--one
            .img-absolute.img.img__dots.about__img-dots.about__img-dots--two
            .img-absolute.img.img__triangle.about__img-triangle
            .img-absolute.about__img-fireplace
