.footer {
  background: #0C2F33;
  padding: 88px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title, &__link, &__text {
    color: $white;
  }

  &__title {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
  }

  &__catalog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 19px 56px;
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
  }

  &__text-icon-box {
    position: relative;
    margin-bottom: 11px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    &--highlight {
      color: $light-green;
    }
  }

  &__icon {
    &::before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 8px;
      background-size: 15px 15px;
      content: '';
    }

    &--time::before {
      background-image: url(/assets/images/svg/time.svg);
    }

    &--location::before {
      background-image: url(/assets/images/svg/location.svg);
    }
  }

  &__socials {
    margin-top: 10px;
  }

  &__socials &__socials-item:not(:last-child) {
    margin-right: 36px;
  }

  &__social-img {
    width: 22px;
    height: 22px;
  }

  @include _tablet1248 {
    padding: 25px 0;

    &__container:not(:last-of-type),
    &__title,
    &__text-icon-box{
      display: none;
    }

    &__container{
      width: 100%;
      align-items: center;
    }
  }
}
