-
  var footer_part1 = [{
    src: "/",
    name: "Дымоходы",
  },
    {
      src: "/",
      name: "Дымососы",
    },
    {
      src: "/",
      name: "Печи для дома",
    },
    {
      src: "/",
      name: "Печи для бани",
    },
  ];

-
  var footer_part2 = [{
    src: "/",
    name: "Камины",
  },
    {
      src: "/",
      name: "Силикат кальция",
    },
    {
      src: "/",
      name: "Котлы",
    },
    {
      src: "/",
      name: "Ещё",
    },
  ];

-
  var footer_part3 = [{
    src: "/",
    name: "Каталог",
  },
    {
      src: "/",
      name: "Установка и монтаж",
    },
    {
      src: "/",
      name: "Отзывы",
    },
    {
      src: "/",
      name: "Ликвидация товара",
    },
  ];

-
  var footer_part4 = [{
    src: "/",
    name: "Полезное",
  },
    {
      src: "/",
      name: "Контакты",
    },
    {
      src: "/",
      name: "Оплата и доставка",
    },
  ];

footer.footer
  .container
    .footer__inner
      .footer__catalog-container
        h4.footer__title КАТАЛОГ
        .footer__catalog-items
          ul.footer__ul-items
            +footer_link(footer_part1)
          ul.footer__ul-items
            +footer_link(footer_part2)
      .footer__info-container
        h4.footer__title ИНФОРМАЦИЯ
        .footer__catalog-items
          ul.footer__ul-items
            +footer_link(footer_part3)
          ul.footer__ul-items
            +footer_link(footer_part4)
      .footer__hours-container
        h4.footer__title ВРЕМЯ РАБОТЫ
        .footer__text-icon-box
          svg.footer__svg
          p.footer__text пн-пт 9:00 – 20:00   сб-вс 10:00 – 18:00
        .footer__text-icon-box
          svg.footer__svg
          p г. Санкт - Петербург ,ул. Тамбасова д.7
        +socials(socialList, "")
