


-
  var footer_part3 = [{
    src: "/",
    name: "Каталог",
  },
    {
      src: "/",
      name: "Установка и монтаж",
    },
    {
      src: "/",
      name: "Отзывы",
    },
    {
      src: "/",
      name: "Ликвидация товара",
    },
  ];

-
  var footer_part4 = [{
    src: "/",
    name: "Полезное",
  },
    {
      src: "/",
      name: "Контакты",
    },
    {
      src: "/",
      name: "Оплата и доставка",
    },
  ];


footer.footer
  .container
    .footer__inner
      .footer__container
        p.footer__title КАТАЛОГ
        ul.footer__catalog-items
          li.footer__ul-item
            a.footer__ul-link(href="#") Дымоходы
          li.footer__ul-item
            a.footer__ul-link(href="#") Камины
          li.footer__ul-item
            a.footer__ul-link(href="#") Дымососы
          li.footer__ul-item
            a.footer__ul-link(href="#") Силикат кальция
          li.footer__ul-item
            a.footer__ul-link(href="#") Печи для дома
          li.footer__ul-item
            a.footer__ul-link(href="#") Котлы
          li.footer__ul-item
            a.footer__ul-link(href="#") Печи для бани
          li.footer__ul-item
            a.footer__ul-link(href="#") Ещё
      .footer__container
        p.footer__title ИНФОРМАЦИЯ
          ul.footer__catalog-items
            li.footer__ul-item
              a.footer__ul-link(href="#") Каталог
            li.footer__ul-item
              a.footer__ul-link(href="#") Полезное
            li.footer__ul-item
              a.footer__ul-link(href="#") Установка и монтаж
            li.footer__ul-item
              a.footer__ul-link(href="#") Контакты
            li.footer__ul-item
              a.footer__ul-link(href="#") Отзывы
            li.footer__ul-item
              a.footer__ul-link(href="#") Оплата и доставка
            li.footer__ul-item
              a.footer__ul-link(href="#") Ликвидация товара
      .footer__container
        p.footer__title ВРЕМЯ РАБОТЫ
        .footer__text-icon-box
          p.footer__text.footer__text--highlight.footer__icon.footer__icon--time пн-пт
            span.footer__text  9:00 – 20:00
            span.footer__text.footer__text--highlight  сб-вс
            span.footer__text  10:00 – 18:00
        .footer__text-icon-box
          p.footer__text.footer__icon.footer__icon--location г. Санкт - Петербург, ул. Тамбасова д.7
        +socials(socialList, "footer__socials")
