.installation {
  padding: 86px 0;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 68px;
  }

  &__text-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__text-content {
    margin-right: 74px;
  }

  &__text {
    color: $black-base;

    &--highlight,
    &--highlight-black {
      font-weight: 700;
    }

    &--highlight {
      color: $orange;
    }

    &--highlight-black {
      margin-top: 30px;
    }
  }

  &__img {
    background: url(/assets/images/content/installation.png);
    min-width: 624px;
    height: 313px;
  }

  &__list {
    &-with-img {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
    }

    &-box {
      display: flex;
      flex-direction: column;
    }

    &-img {
      margin-bottom: 32px;
      width: 79px;
      height: 79px;
    }

    &-title {
      font-size: 20px;
    }

    &-text-box {
      margin-left: 0;
    }
  }

  @include _tablet1248 {
    padding: 29px 0;

    &__img {
      display: none;
    }

    &__text-container {
      margin-bottom: 50px;
    }

    &__text-content {
      margin-right: 0;
    }

    &__title {
      margin-bottom: 42px;
    }

    &__text--highlight-black {
      margin-top: 30px;
    }

    &__list {
      &-with-img {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }

      &-img {
        width: 74px;
        height: 74px;
        margin-bottom: 0;
      }
    }
  }

  @include _mobile767 {
    padding: 26px 0;

    &__text-container {
      margin-bottom: 34px;
    }

    &__title {
      margin-bottom: 28px;
    }

    &__text {
      font-size: 14px;

      &:last-of-type {
        margin-top: 26px;
      }
    }

    &__list {
      &-with-img {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
      }

      &-text-box {
        margin-top: 26px;

        .installation__text:last-of-type {
          margin-top: 0;
        }
      }

      &-title {
        font-size: 18px;
      }
    }
  }
}
