section.installation
  .container
    .installation__inner
      h2.title-overline.installation__title Установка и отношение к работе

      .installation__text-container
        .installation__text-content
          p.text.installation__text
            | Правильная установка очень важна, от этого зависит
            | не только красота но и ваша безопасность. Не
            | профессиональная установка газоотводящей системы несёт
            | большую опасность возникновения пожаров и отравление
            | угарным газом.
          p.text.installation__text
            | В
            span.text.installation__text.installation__text--highlight  Дымоход ру.
            |  работают профессионалы с большим опытом работы,
            | они ежегодно проходят курсы повышения квалификации
          p.text.installation__text.installation__text--highlight-black
            | Все работы проводим качественно, аккуратно, и на совесть
        .installation__img

      .list-with-img.installation__list-with-img
        .list-with-img__box.installation__list-box
          +svg("img list-with-img__img installation__list-img", "assets/images/sprite.svg#install-1")
          .list-with-img__text-box.installation__list-text-box
            p.list-with-img__title Доступные цены
            p.text.list-with-img__text.installation__text
              | Мы предлагаем нашу продукцию, услуги по доступным
              | ценам и отличного качества
        .list-with-img__box.installation__list-box
          +svg("img list-with-img__img installation__list-img", "assets/images/sprite.svg#install-2")
          .list-with-img__text-box.installation__list-text-box
            p.list-with-img__title Установка
            p.text.list-with-img__text.installation__text
              | Устанавливаем дымоходы, камины, печи, котлы
              | всех производителей
        .list-with-img__box.installation__list-box
          +svg("img list-with-img__img installation__list-img", "assets/images/sprite.svg#install-3")
          .list-with-img__text-box.installation__list-text-box
            p.list-with-img__title Профессионализм
            p.text.list-with-img__text.installation__text
              | Квалифицированные специалисты. Работаем чисто,
              | аккуратно, убираем за собой
        .list-with-img__box.installation__list-box
          +svg("img list-with-img__img installation__list-img", "assets/images/sprite.svg#install-4")
          .list-with-img__text-box.installation__list-text-box
            p.list-with-img__title Гарантия качества
            p.text.list-with-img__text.installation__text
              | Мы даём гарантию на все изделия и работы, выполненные
              | нашими специалистами.
