section.installation
  .container
    .installation__inner
      h1.title-overline.installation__title Установка и отношение к работе

      .installation__text-container
        .installation__text-content
          p.installation__text
            | Правильная установка очень важна, от этого зависит
            | не только красота но и ваша безопасность. Не
            | профессиональная установка газоотводящей системы несёт
            | большую опасность возникновения пожаров и отравление
            | угарным газом.
          p.installation__text
            | В
            span.installation__text.installation__text--highlight  Дымоход ру.
            |  работают профессионалы с большим опытом работы,
            | они ежегодно проходят курсы повышения квалификации
          p.installation__text.installation__text--highlight-black
            | Все работы проводим качественно, аккуратно, и на совесть
        .installation__img

      .list-with-img.installation__list-with-img
        .list-with-img__box.installation__list-box
          img.list-with-img__img
          .list-with-img__text-box.installation__list-text-box
            h3.small-title Доступные цены
            p.text
              | Мы предлагаем нашу продукцию, услуги по доступным
              | ценам и отличного качества
        .list-with-img__box.installation__list-box
          img.list-with-img__img
          .list-with-img__text-box.installation__list-text-box
            h3.small-title Установка
            p.text
              | Устанавливаем дымоходы, камины, печи, котлы
              | всех производителей
        .list-with-img__box.installation__list-box
          img.list-with-img__img
          .list-with-img__text-box.installation__list-text-box
            h3.small-title Профессионализм
            p.text
              | Квалифицированные специалисты. Работаем чисто,
              | аккуратно, убираем за собой
        .list-with-img__box.installation__list-box
          img.list-with-img__img
          .list-with-img__text-box.installation__list-text-box
            h3.small-title Гарантия качества
            p.text
              | Мы даём гарантию на все изделия и работы, выполненные
              | нашими специалистами.
