.form-order
  h4.very-small-title Для
    span.very-small-title.text--one-highlight заказа
    | замера заполните форму!
  p.text И получите полную смету требуемых изделий и монтажных работ
  form.form-order__form
    input.form-order__input(type="text", placeholder="Ваше имя")
    input.form-order__input(type="text", placeholder="Ваш телефон")
    button.button.button--main-color оставить заявку

