section.benefits
  .container
    .benefits__inner
      h2.title-overline Наши преимущества
      .list-with-img.benefits__list-with-img
        .list-with-img__box
          .img.img__border
            +svg("img img-absolute list-with-img__img", "assets/images/sprite.svg#benefits-1")
          .list-with-img__text-box
            p.list-with-img__title Бесплатная консультация
            p.text.list-with-img__text
              | Позвонить нам, чтобы получить бесплатную консультацию,
              | на крепёж, стыковку элементов и «вертикальность»
        .list-with-img__box
          .img.img__border
            +svg("img img-absolute list-with-img__img", "assets/images/sprite.svg#benefits-3")
          .list-with-img__text-box
            p.list-with-img__title Бесплатный просчёт
            p.text.list-with-img__text
              | Оставьте заявку или перезвоните нам на расчёт
              | стоимости монтажа для дома, бани или котельной.
        .list-with-img__box
          .img.img__border
            +svg("img img-absolute list-with-img__img", "assets/images/sprite.svg#benefits-2")
          .list-with-img__text-box
            p.list-with-img__title Большой опыт
            p.text.list-with-img__text
              | У нас большой опыт установки, монтажа, убедитесь
              | в этом прочитав отзывы и посмотрите фотографии наших работ
        .list-with-img__box
          .img.img__border
            +svg("img img-absolute list-with-img__img", "assets/images/sprite.svg#benefits-4")
          .list-with-img__text-box
            p.list-with-img__title Чистка дымохода
            p.text.list-with-img__text
              | Мы производим чистку дымохода с применением
              | современной профессиональной технологии.
