section.cost-calculation
  .container
    .cost-calculation__inner
      .cost-calculation__content-container
        h1.title.cost-calculation__title.cost-calculation__title-box самостоятельный
          .title.cost-calculation__title расчёт стоимости дымохода
        p.cost-calculation__text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempo
        p.cost-calculation__text Для расчета стоимости пройдите тест за
          span.cost-calculation__text.cost-calculation__text--highlight  1 минуту
        button.button.button--main-color(type="button") рассчитать стоимость
      .cost-calculation__img-container
        .img-absolute.img.img__blob3.cost-calculation__img-blob-3
        .img-absolute.img.img__dots.cost-calculation__img-dots.cost-calculation__img-dots--one
        .img-absolute.img.img__dots.cost-calculation__img-dots.cost-calculation__img-dots--two
        .img-absolute.img.img__triangle.cost-calculation__img-triangle
        .img-absolute.cost-calculation__img-calculator
