.cost-calculation {
  margin-bottom: 284px;

  &__inner {
    display: flex;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    width: 630px;
    margin-right: 84px;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: $black-base;
    text-transform: lowercase;
  }

  &__title-box {
    margin: 66px 0 17px 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    color: $coral;
    text-transform: uppercase;
  }

  &__text {
    &--highlight {
      font-weight: 700;
      color: $orange;
    }
  }

  &__text + &__text {
    margin-bottom: 58px;
  }

  &__img {
    position: relative;
    height: inherit;
    flex-grow: 1;

    &-blob-3 {
      left: 80px;
      top:40px;
      width: 655px;
      height: 583px;
    }

    &-dots {
      &--one {
        left: 150px;
      }

      &--two {
        bottom: -180px;
        right: -65px;
      }
    }

    &-triangle {
      top: 280px;
    }

    &-calculator {
      left:180px;
      width: 474px;
      height: 596px;
      background: url(/assets/images/content/calculator.png) no-repeat;
      background-size: contain;
    }
  }
}
