/*РАЗДЕЛ - ПРОЕКТЫ*/
.projects {
  position: relative;
  padding: 50px 0 250px 0;

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
    margin-left: 74px;
  }

  &__arrows-container-adaptive {
    display: none;
  }

  &_arrows {
    display: flex;
    justify-content: center;
  }

  &__title-box {
    margin: 107px 0 26px 0;
  }

  &__title {
    text-align: right;

    &--highlight {
      font-weight: 700;
      color: $light-green;
    }
  }

  &__text {
    margin-bottom: 58px;
    text-align: right;
  }

  &__img {
    position: relative;

    &-blob-2 {
      left: 60px;
      top: -20px;
      width: 750px;
      height: 700px;
    }
  }

  &__slider {
    position: absolute;
    width: 58.5%;
    padding: 35px;

    &-wrapper{
      //justify-content: flex-end;
    }
  }

  &__slide {
    width: 400px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
    background: $white;

    &-wrapper{
      display: flex;
      flex-direction: column;
      padding: 38px 32px 32px 35px;
    }

    &-img {
      width: 330px;
      height: 250px;
      margin-bottom: 34px;
    }

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      color: $black-base;
      margin-bottom: 15px;
    }

    &-param {
      display: flex;
      margin-bottom: 13px;

      &:nth-child(even) &-desc{
        color: $light-green;
      }

      &:nth-child(odd) &-desc{
        color: $red;
      }
    }

    &-param-name, &-param-desc, &-text {
      @extend %small-text;
      line-height: 17px;
    }

    &-param-name {
      font-weight: 500;
      color: $gray;
    }

    &-border-dots {
      flex-grow: 1;
      border-bottom: 1px dashed $background-color;
    }

    &-param-desc {
      font-weight: 600;
    }

    &-text {
      font-weight: 300;
      line-height: 22px;
      color: $black-base;
    }
  }

  @include _tablet1248 {
    display: flex;
    flex-direction: column-reverse;
    padding: 37px 0 0 0;

    &__content-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 15px 0;
    }

    &__img-blob-2 {
      display: none;
    }

    &__title-box {
      width: 100%;
      margin: 0 0 41px 0;
    }

    &__title {
      font-size: 35px;
      line-height: 45px;
      text-align: center;
    }

    &__text{
      max-width: 350px;
      margin-bottom: 0;
      text-align: left;

    }

    &__slider {
      position: relative;
      width: 100%;
      padding: 35px 15px;
    }

    &__slide-img{
      align-self: center;
      width: 290px;
      height: 220px;
      margin-bottom: 23px;
    }
  }

  @include _mobile767 {
    padding: 25px 0;

    &__content-container {
      justify-content: center;
      margin-bottom: 0;
    }

    &__title-box {
      margin-bottom: 25px;
    }

    &__title{
      font-size: 25px;
      line-height: 30px;
    }

    &__text{
      text-align: center;
      font-size: 14px;
      line-height: 26px;
    }

    &__slide {
      flex-shrink: 0;

      &-wrapper{
        padding: 20px;
      }

      &-img{
        max-width: 253px;
        width: 100%;
        height: 190px;
        margin-bottom: 19px;
      }

      &-title {
        font-size: 16px;
      }
    }

    &__arrows-container {
      display: none;

      &-adaptive {
        display: flex;
        width: 138px;
      }
    }
  }
}
