html {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;

  /* закоментарить для pixelperfect */
  //height: 100%;
}

/* раскоментарить для pixelperfect */
//html::-webkit-scrollbar { width: 0; }

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $font-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1248px;
}

.container-fluid {
  max-width: 1815px;
  height: 100%;
}

.blocked {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

/* ОСНОВНЫЕ СТИЛИ ШРИФТОВ */
a {
  text-decoration: none;
}

.title-overline {
  padding-top: 15px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: $black-base;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 74px;
    margin-bottom: 11px;
    content: '';
    background-color: $coral;
  }

  @include _tablet1248 {
    font-size: 30px;
    line-height: 37px;
  }

  @include _mobile767 {
    font-size: 20px;
    line-height: 30px;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: $black-base;

  &--highlight {
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    color: $coral;
    text-transform: uppercase;
  }

  @include _tablet1248 {
    font-size: 30px;
    line-height: 54px;

    &--highlight {
      font-size: 40px;
    }
  }

  @include _mobile767 {
    font-size: 18px;
    line-height: 30px;

    &--highlight {
      font-size: 30px;
    }
  }
}

.title-big {
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: $black-base;

  @include _tablet1248 {
    font-size: 45px;
    line-height: 55px;
  }

  @include _mobile767 {
    font-size: 30px;
    line-height: 37px;
  }
}

.text {
  @extend %text;

  line-height: 30px;
  color: $dark-gray;

  @include _mobile767 {
    line-height: 26px;
  }
}

/* КАРТИНКИ */
.logo {
  &__img {
    height: 97px;
    width: 100px;
  }

  @include _tablet1248 {
    &__img {
      position: relative;
      top: -8px;
      height: 64px;
      width: 64px;
    }
  }

  @include _mobile767 {
    &__img {
      height: 47px;
      width: 48px;
    }
  }
}

.img {
  background-size: contain;
  background-repeat: no-repeat;

  &-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__blob1,
  &__blob2,
  &__blob3,
  &__blob4,
  &__blob8,
  &__blob9,
  &__blob10,
  &__blob11,
  &__border {
    background-position: center;
  }

  &__blob1 {
    background-image: url(/assets/images/svg/blob-1.svg);
  }

  &__blob2 {
    background-image: url(/assets/images/svg/blob-2.svg);
  }

  &__blob3 {
    background-image: url(/assets/images/svg/blob-3.svg);
  }

  &__blob4 {
    background-image: url(/assets/images/svg/blob-4.svg);
  }

  &__blob5 {
    background-image: url(/assets/images/svg/blob-5.svg);
  }

  &__blob6 {
    background-image: url(/assets/images/svg/blob-6.svg);
  }

  &__blob7 {
    background-image: url(/assets/images/svg/blob-7.svg);
  }

  &__blob8 {
    background-image: url(/assets/images/svg/blob-8.svg);
  }

  &__blob9 {
    background-image: url(/assets/images/svg/blob-9.svg);
  }

  &__blob10 {
    background-image: url(/assets/images/svg/blob-10.svg);
  }

  &__blob11 {
    background-image: url(/assets/images/svg/blob-11.svg);
  }

  &__dots,
  &__triangle,
  &__triangle-2 {
    background-position: left;
  }

  &__dots {
    background-image: url(/assets/images/svg/dots.svg);
    width: 4%;
    height: 21%;
  }

  &__triangle {
    background-image: url(/assets/images/svg/triangle.svg);
    width: 8%;
    height: 5%;
  }

  &__triangle-2 {
    background-image: url(/assets/images/svg/triangle-2.svg);
    width: 27%;
    height: 27%;
  }

  &__border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 179px;
    height: 142px;
    background-image: url(/assets/images/svg/border.svg);

    @include _tablet1050 {
      height: 139px;
    }

    @include _mobile767 {
      min-width: 121px;
      height: 95px;
    }
  }
}

@mixin arrow {
  width: 12px;
  height: 12px;
  mask-image: url(/assets/images/svg/select-arrow.svg);
  mask-size: cover;
  border: none;
}

/* КНОПКИ */
.icon {
  width: 22px;
  height: 22px;
  mask-size: cover;

  &__menu {
    mask-image: url(/assets/images/svg/menu.svg);
    background-color: $light-green;

    &.close {
      mask-image: url(/assets/images/svg/close.svg);
    }

    @include _mobile767 {
      width: 18px;
      height: 18px;
    }
  }
}

.icon-line {
  display: flex;
  margin-left: 33px;

  &--one {
    margin-left: 36px;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    height: 56px;
    width: 56px;
    border: 1px solid;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &-img {
      &--shopping {
        width: 24px;
        mask-image: url(/assets/images/svg/shopping-cart.svg);
        background-color: $black-base;
      }

      &--light {
        background-color: $white;
      }
    }

    &-link {
      justify-content: center;
      display: flex;
    }

    &--main {
      border-color: $light-green;
    }

    &--light {
      border-color: $background-color;
    }

    &--dark {
      background-color: $dark-green;
    }

    &-circle-count {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -3px;
      top: 0;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: $coral;
      color: $white;
    }

    &-count-text {
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      color: $white;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 240px;
  border: none;
  border-radius: 4px;
  @extend %text;

  color: $white;
  font-weight: bold;
  line-height: 20px;
  text-transform: lowercase;
  cursor: pointer;

  &--main-color {
    background-color: $dark-green;
  }

  &--secondary-color {
    background-color: $orange;
  }
}

/* ЦЕНЫ (СТАРАЯ, НОВАЯ) - ДУБЛИРУЮТСЯ */
.price-container {
  display: flex;
  align-items: center;

  &__price-new {
    color: $coral;

    &::after {
      color: $black-base;
    }
  }

  &__price-old {
    text-decoration-line: line-through;
    color: $gray;
  }

  &__price-new::after,
  &__price-old::after {
    margin-left: 15px;
    content: '\20BD';
    text-decoration-line: none;
  }
}

.input,
.textarea {
  width: 100%;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $black-base;

  &[placeholder] {
    color: $gray;
  }
}

.input {
  height: 56px;
  max-width: 240px;

  &--photo {
    height: auto;
    max-width: 120px;
  }

  @include _tablet1248 {
    margin-bottom: 15px;

    &:not([type='button'], [type='submit']) {
      max-width: 354px;
      width: 100%;
    }

    &:not([type='button'], [type='submit'])
      + &:not([type='button'], [type='submit']) {
      margin-bottom: 25px;
    }
  }
}

.textarea {
  resize: none;
}

.list-with-img {
  display: grid;

  &__box {
    display: flex;
  }

  &__img {
    height: 70px;
    width: 70px;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  &__title,
  &__text {
    color: $black-base;
  }

  &__title {
    margin-bottom: 11px;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }

  @include _tablet1248 {
    &__box {
      flex-direction: column;
      align-items: center;
    }

    &__text-box {
      margin-top: 26px;
      margin-left: 0;
      align-items: center;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
      line-height: 26px;
      text-align: center;
    }
  }

  @include _mobile767 {
    &__img {
      height: 50px;
      width: 50px;
    }

    &__text-box {
      margin-top: 10px;
    }

    &__title {
      margin-bottom: 3px;
      font-size: 16px;
    }
  }
}

.back {
  display: none;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;

  &__link {
    margin-right: 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: $light-green;
  }

  &__arrow {
    @include arrow;

    background-color: $light-green;
    transform: rotate(-90deg);
  }

  @include _tablet1248 {
    display: flex;
  }

  @include _mobile767 {
    margin-right: 0;
  }
}
