html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $font-color;
  overflow-x: hidden;
}

body,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li,
figure, figcaption,
blockquote,
dl, dd {
  margin: 0;
}

ul, ol {
  padding: 0;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container, .container-fluid {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1248px;
}

.container-fluid {
  max-width: 1815px;
  height: 100%;
}

.hidden {
  display: none;
}

/*ОСНОВНЫЕ СТИЛИ ШРИФТОВ*/
a {
  text-decoration: none;
}

.title-overline {
  padding-top: 11px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: $black-base;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 74px;
    margin-bottom: 11px;
    content: '';
    background-color: $coral;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: $black-base;

  &--highlight {
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    color: $coral;
    text-transform: uppercase;
  }
}

.text {
  @extend %text;
  line-height: 30px;
  color: $dark-gray;
}

/*КАРТИНКИ*/
.logo {
  &__img {
    height: 97px;
    width: 100px;
  }

  @include _tablet1248 {
    &__img {
      height: 64px;
      width: 64px;
    }
  }

  @include _mobile767 {
    &__img {
      height: 47px;
      width: 48px;
    }
  }
}

.img {
  &-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  &__blob1 {
    background: url(/assets/images/svg/blob-1.svg) center / contain no-repeat;
  }

  &__blob2 {
    background: url(/assets/images/svg/blob-2.svg) center / contain no-repeat;
  }

  &__blob3 {
    background: url(/assets/images/svg/blob-3.svg) no-repeat;
  }

  &__blob4 {
    background: url(/assets/images/svg/blob-4.svg) no-repeat;
  }

  &__blob5 {
    background: url(/assets/images/svg/blob-5.svg) no-repeat;
  }

  &__blob6 {
    background: url(/assets/images/svg/blob-6.svg) no-repeat;
  }

  &__blob7 {
    background: url(/assets/images/svg/blob-7.svg) no-repeat;
  }

  &__blob8 {
    background: url(/assets/images/svg/blob-8.svg) no-repeat;
  }

  &__dots {
    background: url(/assets/images/svg/dots.svg) left / contain no-repeat;
    width: 5%;
    height: 20%;
  }

  &__triangle {
    background: url(/assets/images/svg/triangle.svg) left / contain no-repeat;
    width: 10%;
    height: 5%;
  }

  &__border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 179px;
    height: 142px;
    background: url(/assets/images/svg/border.svg) no-repeat;
  }
}

/*КНОПКИ*/
.icon {
  width: 22px;
  height: 22px;
  mask-size: cover;
}

.icon-line {
  display: flex;
  margin-left: 29px;

  &--one {
    margin-left: 36px;
  }

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    height: 56px;
    width: 56px;
    border: 1px solid;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &-img {
      &--shopping {
        width: 24px;
        mask-image: url(/assets/images/svg/shopping-cart.svg);
        background-color: $black-base;
      }

      &--light {
        background-color: $white;
      }
    }

    &-link {
      justify-content: center;
      display: flex;
    }

    &--main {
      border-color: $light-green;
    }

    &--light {
      border-color: $background-color;
    }

    &--dark {
      background-color: $dark-green;
    }

    &-circle-count {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: $coral;
      color: $white;
    }

    &-count-text {
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      color: $white;
    }
  }
}

.button {
  height: 56px;
  width: 240px;
  border: none;
  border-radius: 4px;
  @extend %text;
  color: $white;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;

  &--main-color {
    background-color: $dark-green;
  }

  &--secondary-color {
    background-color: $orange;
  }
}

/*ЦЕНЫ (СТАРАЯ, НОВАЯ) - ДУБЛИРУЮТСЯ*/
.price-container {
  display: flex;
  align-items: center;

  &__price-new {
    color: $coral;

    &:after {
      color: $black-base;
    }
  }

  &__price-old {
    text-decoration-line: line-through;
    color: $gray;
  }

  &__price-new::after, &__price-old::after {
    content: '\20BD';
    text-decoration-line: none;
  }
}

.input {
  height: 56px;
  width: 240px;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $black-base;

  &[placeholder] {
    color: $gray;
  }
}

.list-with-img {
  display: grid;

  &__box {
    display: flex;
  }

  &__img {
    height: 65px;
    width: 65px;

  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }


  &__title, &__text {
    color: $black-base;
  }

  &__title {
    margin-bottom: 11px;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }
}



